<a href="https://colab.research.google.com/github/GA239/DS_course/blob/master/HW7/tsk1/hypothyroid_preprocessed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [200]:
import pandas as pd
import os
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, RobustScaler, PolynomialFeatures

In [201]:
# read dataset
DRIVE = '/content/drive/My Drive'
hypothyroid = os.path.join(DRIVE, 'dataset_57_hypothyroid.csv')

In [202]:
df = pd.read_csv(hypothyroid)
df.head()

  age sex on_thyroxine  ... TBG referral_source     Class
0  41   F            f  ...   ?            SVHC  negative
1  23   F            f  ...   ?           other  negative
2  46   M            f  ...   ?           other  negative
3  70   F            t  ...   ?           other  negative
4  70   F            f  ...   ?             SVI  negative

[5 rows x 30 columns]

In [203]:
TARGET_COLUMN = 'Class'

In [204]:
df = df[df[TARGET_COLUMN] != 'secondary_hypothyroid']

In [205]:
df = pd.concat([df, pd.get_dummies(df.Class, prefix=TARGET_COLUMN)], axis=1)
df.drop([TARGET_COLUMN], axis=1, inplace=True)

In [206]:
df.head()

  age sex  ... Class_negative Class_primary_hypothyroid
0  41   F  ...              1                         0
1  23   F  ...              1                         0
2  46   M  ...              1                         0
3  70   F  ...              1                         0
4  70   F  ...              1                         0

[5 rows x 32 columns]

In [207]:
df.shape

(3770, 32)

In [208]:
df = df.drop_duplicates()

In [209]:
df.shape

(3709, 32)

In [210]:
df = df.replace(to_replace={'f':0,'t':1, 'y':1, 'n':0, '?': np.nan, 'M':0, 'F':1})
df['referral_source'] = LabelEncoder().fit_transform(df['referral_source'])

In [211]:
numeric_columns = ['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI']
categorial_columns = list(set(data.columns) - set(numeric_columns) - {TARGET_COLUMN})

In [212]:
df[numeric_columns] = df[numeric_columns].astype('float64', errors='ignore')
df[categorial_columns] = df[categorial_columns].astype('category', errors='ignore')

In [213]:
df = df.drop(columns=['TBG_measured', 'TBG'])

In [214]:
target_columns = [TARGET_COLUMN + i for i in ['_compensated_hypothyroid',	'_negative',	'_primary_hypothyroid']]
X = df.drop(columns=target_columns)
Y = df[target_columns]

In [215]:
features_most_frequent = ['sex', 'age']
features_mean_or_median = ['TSH', 'T3', 'TT4', 'T4U', 'FTI']
other_features = list(set(X.columns) - set(features_most_frequent + features_mean_or_median))

In [216]:
imputer = ColumnTransformer(transformers=[
    ('imputer_most_frequent', SimpleImputer(missing_values=np.nan, strategy='most_frequent'), features_most_frequent),
    ('imputer_mean_or_median', SimpleImputer(missing_values=np.nan, strategy='median'), features_mean_or_median),
    ('imputer_other', SimpleImputer(missing_values=np.nan, strategy='most_frequent'), other_features)
])

In [217]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [218]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((2967, 27), (742, 27), (2967, 3), (742, 3))

In [219]:
X_train.reset_index(drop=True, inplace=True)
X_test.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)
Y_test.reset_index(drop=True, inplace=True)

X_columns = X_train.columns
Y_columns = Y_train.columns

In [220]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((2967, 27), (742, 27), (2967, 3), (742, 3))

In [221]:
X_train.head()

    age  sex on_thyroxine  ... FTI_measured    FTI referral_source
0  66.0  1.0            0  ...            1  149.0               3
1  68.0  0.0            0  ...            0    NaN               3
2  76.0  0.0            0  ...            1  133.0               3
3  82.0  1.0            0  ...            1  149.0               4
4  37.0  1.0            0  ...            1  128.0               3

[5 rows x 27 columns]

In [222]:
Y_train

      Class_compensated_hypothyroid  Class_negative  Class_primary_hypothyroid
0                                 0               1                          0
1                                 1               0                          0
2                                 0               1                          0
3                                 0               1                          0
4                                 0               1                          0
...                             ...             ...                        ...
2962                              0               1                          0
2963                              0               1                          0
2964                              1               0                          0
2965                              0               1                          0
2966                              0               1                          0

[2967 rows x 3 columns]

In [223]:
imputer.fit(X_train)

ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('imputer_most_frequent',
                                 SimpleImputer(add_indicator=False, copy=True,
                                               fill_value=None,
                                               missing_values=nan,
                                               strategy='most_frequent',
                                               verbose=0),
                                 ['sex', 'age']),
                                ('imputer_mean_or_median',
                                 SimpleImputer(add_indicator=False, copy=True,
                                               fill_value=None,
                                               mi...
                                               strategy='most_frequent',
                                               verbose=0),
                                 ['lithium', 'query_hypothyroid',
                                  'TSH_measured', 'TT4_measured', 'sick',
                                  'tumor', 'on_antithyroid_medication',
                                  'goitre', 'T3_measured', 'T4U_measured',
                                  'I131_treatment', 'thyroid_surgery', 'psych',
                                  'hypopituitary', 'referral_source',
                                  'pregnant', 'query_on_thyroxine',
                                  'on_thyroxine', 'query_hyperthyroid',
                                  'FTI_measured'])],
                  verbose=False)

In [224]:
X_train = imputer.transform(X_train)
X_test = imputer.transform(X_test)

In [225]:
standart_scaler = RobustScaler()
standart_scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [226]:
X_train = standart_scaler.transform(X_train)
X_test = standart_scaler.transform(X_test)

In [227]:
X_train.shape

(2967, 27)

In [231]:
p_featuers = PolynomialFeatures(degree=2, include_bias=False, interaction_only=True, order='C')
p_featuers.fit(X_train)

X_train = p_featuers.transform(X_train)
X_test = p_featuers.transform(X_test)

In [234]:
X_test = pd.DataFrame(X_test)
X_train = pd.DataFrame(X_train)

In [235]:
X_train.head()

        0         1         2    ...       375       376       377
0  0.662491  0.701606 -0.191478  ...  0.100379 -0.117847 -0.080777
1 -1.509455  0.800348  0.075313  ...  0.100379  1.242669  0.851775
2 -1.509455  1.195313 -0.176006  ...  0.100379 -0.117847 -0.080777
3  0.662491  1.491537 -0.183951  ...  0.100379 -0.117847 -0.080777
4  0.662491 -0.730144 -0.194405  ...  0.100379 -0.117847 -0.080777

[5 rows x 378 columns]

In [236]:
X_train.to_csv(os.path.join(DRIVE, 'X_train.csv'))
X_test.to_csv(os.path.join(DRIVE, 'X_test.csv'))
Y_train.to_csv(os.path.join(DRIVE, 'Y_train.csv'))
Y_test.to_csv(os.path.join(DRIVE, 'Y_test.csv'))

In [237]:
Xtr = pd.read_csv(os.path.join(DRIVE, 'X_train.csv'), index_col=0)

In [239]:
Xtr.head()

          0         1         2  ...       375       376       377
0  0.662491  0.701606 -0.191478  ...  0.100379 -0.117847 -0.080777
1 -1.509455  0.800348  0.075313  ...  0.100379  1.242669  0.851775
2 -1.509455  1.195313 -0.176006  ...  0.100379 -0.117847 -0.080777
3  0.662491  1.491537 -0.183951  ...  0.100379 -0.117847 -0.080777
4  0.662491 -0.730144 -0.194405  ...  0.100379 -0.117847 -0.080777

[5 rows x 378 columns]